.nav {
  justify-content: space-between;
  margin-bottom: 12px;

  &-tabs {
    border-bottom: 1px solid rgba(0, 40, 79, 0.3);
    --#{$prefix}nav-tabs-link-active-border-color: #00284f;

    .nav-link.active,
    .nav-item.show .nav-link {
      text-transform: uppercase;

      color: #00284f;

      background-color: transparent;

      opacity: 1;

      border-bottom-width: 2px;
      border-style: solid;
      border-color: transparent;
    }

    .nav-link {
      padding: 8px 0;
      border: none;
      outline: none;
    }

    .nav-link.active,
    .nav-item.show .nav-link {
      border-top: 0;
      border-left: 0px;
      border-right: 0px;
      border-color: var(--#{$prefix}nav-tabs-link-active-border-color);
    }

    &-text {
      font-size: 16px;
      line-height: 1.31;

      color: #00284f;

      @include onTablet {
        font-size: 18px;
        line-height: 1.44;
      }
    }

    &-info {
      display: inline-block;

      margin-top: 8px;
      padding-bottom: 4px;

      font-size: 14px;
      font-weight: 500;
      line-height: 1.29;

      color: #1d1d1b;

      border-bottom: 2px solid #1d1d1b;

      cursor: pointer;

      @include onTablet {
        display: none;
      }
    }

    &-list {
      margin: 0;
      &-item {
        margin-bottom: 4px;
        font-size: 16px;
        line-height: 1.31;

        color: #00284f;

        @include onTablet {
          font-size: 18px;
          line-height: 1.44;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  &-link {
    font-weight: 700;
    font-size: 11px;
    line-height: 14px;

    color: #00284f;
    text-transform: uppercase;

    opacity: 0.4;

    @include onTablet {
      font-size: 17px;
      line-height: 22px;
    }
  }

  &-item {
    outline: none;
  }
}

.tab {
  &-content {
    margin-bottom: 24px;

    @include onTablet {
      margin-bottom: 40px;
    }

    @include onDesktop {
      margin-bottom: 56px;
    }
  }
}
