.delivery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  padding: 33px;

  background-color: #fff;
  border-radius: 15px;

  @include onTablet {
    flex-direction: row;
    padding: 38px 60px;
  }

  @include onDesktop {
    padding: 20px 56px;
    gap: 120px;

    background: linear-gradient(270deg, rgba(255, 255, 255, 0.81) 0%, rgba(255, 255, 255, 0.54) 100%);
  }

  &__item {
    display: flex;
    align-items: center;

    @include onTablet {
      flex-direction: column;
    }

    @include onDesktop {
      flex-direction: row;
    }
  }

  &__icon {
    margin-right: 45px;

    width: 54px;
    height: 36px;

    @include onTablet {
      margin-right: 0px;
      margin-bottom: 24px;
    }

    @include onDesktop {
      margin-bottom: 0;
      margin-right: 24px;
    }
  }

  &__text {
    margin: 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.31;

    color: #00284f;

    @include onTablet {
      font-size: 18px;
      line-height: 1.33;

      text-align: center;
    }

    @include onDesktop {
      text-align: start;
    }
  }
}
